* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: hsl(222, 26%, 31%);
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    color: white;
}