// Theme-1 Backgrounds
$vddBlueMain : hsl(222, 26%, 31%);
$vddBluetk : hsl(223, 31%, 20%);
$vddBlueScreen : hsl(224, 36%, 15%);

// Theme-1 keys
$darkModerateCyan : hsl(185, 42%, 37%); // key backgound
$veryDarkCyan: sl(185, 58%, 25%); // key shadow

$orange: hsl(25, 98%, 40%); //key background, toggle
$darkOrange: hsl(25, 99%, 27%); // key shadow

$lightGrayYellow: hsl(45, 7%, 89%); // key background)
$darkGrayorange: hsl(35, 11%, 61%) // key shadow


